{% extends "base.tmpl" %}

{% block seo %}

<title>Topics at {{site.Name}}</title>
<link rel="canonical" href="{{site.URL}}/tags/">
<meta property="og:url" content="{{site.URL}}/tags/"/>
<meta property="og:title" content="Topics at {{site.Name}}"/>
<meta property="og:description" content="Topics at {{site.Name}}"/>
<meta property="og:image" content="https://cdn.olai.in/jjude/jjude.jpg" />
<meta name="description" content="Topics at {{site.Name}}"/>
<meta property="og:type" content="website" />
<meta name="twitter:title" content="Tags for {{site.Name}}" />
<meta name="twitter:image" content="https://cdn.olai.in/jjude/jjude.jpg" />
<meta name="twitter:description" content="Topics at {{site.Name}}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "BlogPosting",
      "headline": "Topics at {{site.Name}}",
      "url": "{{site.URL}}/tags/",
      "description": "Topics at {{site.Name}}",
      "image": "https://cdn.olai.in/jjude/jjude.jpg",
      "author": {
        "@type": "Person",
        "name": "{{user.Name}}"
      }
  }
</script>
{% endblock %}

{% block content %}
<div class="tc">        
  <h1 class="pt3 mb1 mt1 f3 black">All Tags</h1>
</div>
{% for tag in tags %}
      {% if tag %}
            <a id="title" href="/tags/{{tag}}/" target="_blank" title="click to read all articles under {{tag}}">{{tag}}</a> <br/>
      {% endif %}
{% endfor %}

{% endblock %}
